unstructured_pytesseract 
Chroma
pytesseract
pdf2image
unstructured-inference
pi_heif
cffi
pdfminer
langchain_community
unstructured
langchain
chromadb
unstructured
fastapi 
uvicorn[standard]
python-multipart
PyPDF2
tiktoken
streamlit
langchain-ollama
langchain-chroma
